.bodyAdminPanel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(120deg, rgba(25, 127, 243, 0.364) 0%, rgba(143, 162, 244, 0.398) 100%), url(../images/fondo2.avif);
    font-family: 'Poppins', sans-serif;
  }
h2{
    color: white;
    text-shadow: 1px 1px 2px rgba(20, 51, 81, 0.716) !important;
}
#search-button{
    background-color: rgba(173, 231, 238, 0.559) ;
    font-weight: bold;
    border: 1px solid rgb(161, 214, 218);
    
}
#search-button:hover{
    background-color: rgb(100, 200, 209);
    color:black;
    font-weight: bold;
  }
#area{
    background-color: rgba(3, 3, 3, 0.072);
    border: 1px solid rgba(3, 3, 3, 0.072);
    
}
#contenedor-tabla_adminpanel{
    width: 80%;
    align-items: center;
}
table td,table th{
    margin-left: 5%;
    text-align: center;
    background-color: rgba(165, 42, 42, 0.004) !important;
    color: rgb(0, 0, 0) !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

#icon{
    color: white;
    margin-left: 5%;
    box-shadow: rgba(89, 93, 50, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#icon:hover{
    box-shadow:  rgba(182,241,246,1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: black;
}

/* Modulo registro  */

#tablaRegistros{
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
}

table{
    margin-left: 0%;
    width: 100%;
    border: 1px solid rgb(187, 183, 187);
    background-color: rgba(255, 255, 255, 0.607);
}
#tablaRegistros::-webkit-scrollbar{
    background-color: transparent;
}
#modal-icon-cancel{
    
    color: red;
}
#modal-icon-cancel:hover{
    background-color: rgb(223, 79, 79);
    color: white;
}
#modal-icon-edit{
    color: rgb(8, 103, 8);
}
#modal-icon-edit:hover{
    background-color: rgb(8, 103, 8);
    color: white;
}

@media only screen and (width: 768px ) {
	#contenedor-tabla_adminpanel{
        width: 70%;
        align-items: center;
        margin-left: 2%;
    }
	#tablaRegistros{
        width: 100%;
        margin-left: 2%;
        max-height: 600px;
       
    }
}


@media only screen and ((min-width:200px)and (max-width:600px)) {
    
    #contenedor-tabla_adminpanel{
        width: 50%;
        padding: 0;
        margin-left: 0;
        border: 1px solid red;
    }
   
    #tablaRegistros{
        border: 1px solid blue;
        margin-left: 2%;
        max-height: auto;
   
       width: 100%;
    }
    table td,table th{
        
        text-align: center;
        background-color: rgba(165, 42, 42, 0.004) !important;
        color: rgb(0, 0, 0) !important;
        padding-top: 1%;
        padding-bottom: 1%;
    }
  
    }