@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap%27');

.color:hover{
    border-bottom: 1px solid black;
    font-size: 105%;
}
*{
    font-family:  'Poppins', sans-serif;
}

body{
    display: grid;
    grid-column: 50% 50%;
    grid-row: 50% 50%;
}
h2{
    color: black;
    text-align: justify;
}
header{
    margin: 0;
    padding: 0;
}
#nav{
    margin-right: 3%;
    margin-left: 60%;
    width: 40%; 
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(120deg, rgba(25, 127, 243, 0.364) 0%, rgba(143, 162, 244, 0.398) 100%), url(../img/fondo2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contenedor-wrap{
    align-items: center;
}

#container_obs{
    margin-top: 70px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

#seccion-ob{
    width: 100%;
    height: 100%;
    display: flex;
    position: static;
    justify-content: center;
    
}

.tabla-ob{
    background-color: rgba(33, 37, 41, 0.884);
    border-radius: 5px;
    display: flex;
    height: 100%;
    flex-direction: column;
    
}

#tl-tabla-ob{
    background-color: rgb(107, 208, 226, 0.884);

    height: 10%;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

#cont-tabla-ob{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    max-height: 600px;
    margin-bottom: 50px;
    padding-top: 30px;
}

#info-user-ob{
    margin: 5px;
    margin-top: 0;
    width: 85%;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 37);
    border-radius: 2px;
}

#img-user{
    display: flex;
    width: 200px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: none;
}

#img-user-obs{
    width: 100px;
}

#info-student-ob{
 display: flex;
 align-items: center;
 width: 100%;
}

#tabla-info-ob{
    width: 100%;
    background-color: rgba(250, 235, 215, 0);
    border: none;
}

#celda-ob{
    text-align: left;
    padding-right: 20px;
    color: aliceblue;
    margin-left: 10px;
}



#info-obs{
    text-align: center;
    width: 150px;
    height: 35px;
    text-decoration: none;
    color: antiquewhite;
    background-color:rgb(95, 185, 201);
    border: none;
    border-radius: 4px;
    margin-right: 20px;
    align-items: center;
}

#info-obs:hover{
    background-color:rgb(84, 163, 177);
}

@media only screen and (max-width: 800px){
    #cont-tabla-ob{
        padding-top: 80px;
    }

    #img-user{
        display: none;
    }
    #img-user-obs{
        display: none;
    }
    #info-user-ob{
        display: flex;
        flex-direction: column;
    }
    #tabla-info-obs{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px){
    #cont-tabla-ob{
        padding-top: 350px;
    }

    #img-user{
        display: none;
    }
    #img-user-obs{
        display: none;
    }
    #info-user-ob{
        display: flex;
        flex-direction: column;
    }
    #info-student-ob{
        display: flex;
        flex-direction: column;
    }
    #tabla-info-obs{
        display: flex;
        flex-direction: column;
    }
    #info-obs{
        margin-bottom: 10px
    }
}
