.containeMax{
  display: flex;
  border: red solid 5px;
}


.containerform{
  display: flex;
 flex: 1;
 border: aqua 2px solid;
 justify-content: center;
}
.formMakeobserver{
  display: flex;
  flex-direction: column; 
  width:80%;
  margin: 0%;
  padding: 40px;
  margin: 10px;
  border: solid red 2px;
 
}

input[type="file"] {
  color:transparent;
  
}
.file-selected {
  background-color: rgb(232, 238, 144); /* Cambia este color según tus preferencias */
}
















