@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap%27');
.color:hover{
    border-bottom: 1px solid black;
    font-size: 105%;
}
.observaciones-container {
  max-height: 600px; /* Altura máxima del contenedor antes de que aparezca el scroll */
  overflow-y: auto; /* Agrega un scroll vertical cuando el contenido excede la altura máxima */
  border: 1px solid #ccc; /* Un borde para mejorar la apariencia */
  padding: 10px; /* Añade un poco de espacio interno al contenedor */
}


.table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Espaciado entre elementos de la tabla */
  border: 1px solid #ddd; /* Borde para cada elemento de la tabla */
  
}

.buttonOb {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.buttonOb:hover {
  background-color: #8eac90;
}
#contenedor-wrap {
    display: flex;
   
  }
  
  #informacion1 {
    
    width: 80%;
    padding: 20px; 
  }
  
  .observaciones-container {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
   
  }
  .table {
    display: flex;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 8px; 
    overflow: hidden;
  }
  img {
    width: 80%;
    padding: 10px;
    
  }
  
  .inf_ob {
    flex: 1;
    padding: 20px; 
  }
  .buttonOb{
    width: 80px;
    height: 50px;
    background-color: rgb(58, 58, 58);
    color: white;
    border: 0px;
    border-radius: 5px;
  }
  .buttonObservador {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px; 
  }
  
  .buttonOb {
    width: 80px;
    height: 50px;
    background-color: rgb(58, 58, 58);
    color: white;
    border: 0px;
    border-radius: 5px;
  }
  
  .search-input::placeholder {
    font-size: 16px; 
  }
  span{
    text-align: center;
  }
/* estilos responsivos  */

@media only screen and (max-width: 400px) {
    #contenedor-wrap {
     display:inline-flex; 
    }
  
    #informacion1 {
      width: 100%; 
      margin-top: 20px; 
    }
  
    .search-container {
      margin-bottom: 20px; 
    }
  
    .col-md-5,
    .col-md-7 {
      width: 100%; 
    }
  
    .buttonObservador {
      justify-content: center; 
    }
  
    .table {
      flex-direction: column; 
      margin-bottom: 20px; 
    }
  
    .inf_ob {
      padding: 10px; 
    }
  
    .img {
      text-align: center; 
    }
  
    .buttonOb {
      width: 100%; 
    }
  }

  
  
  




  

